# Data Sciences Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- Popular languages for Data Science
- Popular libraries used for Data Science
- Open-source environments for Data Science

Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. Java
4. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Scikit-Learn
3. TensorFlow
4. Matplotlib

|Data Science Tools|
---
|Jupyter Notebooks|
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Branco Antonio Catalán Arrué